body
{
    font-family: 'Open Sans',sans-serif;
    font-size: 70%;
}

#cv 
{
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
}
#profile
{
    background: #1e1e1e;
    color:#a5a5a5;
    padding: 25px;
}

#intro
{
    
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a5a5a5;
}
#intro img
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 25px;
}
#intro header
{
    margin-right: 25px;
    text-transform: uppercase;
}
#intro header h1
{
    color: #fff;
    font-size: 25px;
    margin: 0;
    font-weight: 300;
}
#intro header h2
{
    margin: 0;
    color: #d07628;
    font-size: 40px;
    font-weight: 600;
    
}
#intro header h3
{
    margin: 0;
    color: #fff;
    font-weight: 400;
}
#about
{
    border-left: 2px solid #a5a5a5;
    padding: 15px;
    width: 350px;
    margin-bottom: 10px;
}
#contact-info
{
    display:flex;
}
#contact-info ul
{
    list-style: none;
}
#contact-info ul: first-child
{
    font-weight: 600;
}
#social-networks
{
    display: flex;
    justify-content: space-between;
    list-style:none;
}
#social-networks a
{
    color:darkviolet;
    text-decoration:none;
}
#experience {
    display: flex;
   
}

.description section
{
    display: flex;
  
}

#stats section{
    display: flex;
}

#stats ul{
    list-style: none;
}

#pro-skills {
    background: rgba(140, 200, 12, 0.8);
}
#pro-skills h1{
    color:blue;
}

#per-skills {
    background: rgba(250, 87, 47, 0.87);
    
}

#per-skills h1{
    color:blue;
    
}

.palegoldenrod {
    background-color:whitesmoke;
}

.description 
{
  flex-basis: 70%   
}
.description section
{
    display:flex ;
    flex-direction : row;
}
.description section aside
{
    text-align:right;
}
.description section aside,article
{
    padding: 20px;
}
.description section aside h5
{
   color: #008bf0;
}


#stats 
{
  display:flex ;
  flex-direction: column;
  flex-basis: 30%;
      
}

.skills 
{  
  flex-grow: 2; 
  display : flex;
  flex-direction:column;
    
 
}
.skills h3
{
    margin-left: 20px;
}
.skills ul li 
{
   margin-top: 15px; 
}

.skillsC {
    display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#education section
{
     display: flex;
}

#education section aside 
{
    padding-left: 10px;
    text-align:right;
}

#education section aside h5
{
    padding-left: 10px;
    color: #008bf0;
    text-align:right;
}
#personal {
    display: flex;
    background: #f5eeee
}
#hobbies ul
{
  display: flex; 
}

#hobbies ul li
{
    display: grid;
    margin: 5px;
}

#hobbies ul li i
{
    width: 50px;
    height: 50px;
}

#LANGUAGE {
    list-style: none;
    display: flex;
}


.fa-book:before {
  content: "\f02d";
}




