body {
    background: aquamarine;
    font-family: 'Open Sans',sans-serif;
}
#cv{
    width:900px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
}
#profile
{
    background:  #1e1e1e;
    color:#a5a5a5;
    padding:25px
}
#intro {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a5a5a5;
}
#intro img {
    border-radius: 50%;
    width: 200px;
    height:200px;
    margin-right: 25px
}
#intro header{
    margin-right: 25px;
    text-transform:uppercase;
}
#intro header h1{
    font-weight: 300;
    color:#fff;
    font-size:300;
    margin:0;
}
#intro header h2{
    font-weight: 600;
    color:#d07628;
    font-size:40px;
     margin:0;
}
#intro header h3{
    margin:0;
    color:#fff;
    font-weight: 400;
}
#about {
    border-left: 2px solid #a5a5a5;
    padding:15px;
    width:350px;
    margin-bottom: 10px;
}
#contact-info {
    display: flex;
}
#contact-info ul {
    list-style: none;
    border-bottom: 2px solid #a5a5a5;
    padding:20px;
}
#contact-info ul:first-child {
    font-weight: 600;
}
#social-networks {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
#social-networks a{
    color:coral;
    text-decoration: none;
}
#skillsandartical {
   display:flex;
}

#skills
.articals {
    display:flex;
}



.prevJobs article{
    padding: 20px;
    margin-left: 20px;
}

#prevJobs {
    display:flex;
    flex-direction: column;
}

.asides {
    text-align: right;
}

.prevJobs {
    display: flex;
    padding-left: 20px;
}

#SkillsAndExperience {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
    
}

#unorderlist li {
    flex-direction: row;
    list-style: none;
    display:flex;
}

.Pskills {
    flex-direction: row;
    padding: 20px;
}

.unorderlist {
    list-style: none;
    
}









